<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
   <p>
   	   Mew Comment <strong>"<%= @comment.content%>"</strong>on post<strong>"<%= @comment.post.content%>"</strong>
   </p>
</body>
</html>